.container-fluid {
	margin-top: 50px;
}

.container {
	max-width: 900px;
	margin: auto;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



.fixtop p {
	color: #555;
	font-size: 15px;
	margin:0px;
	padding-left:15px;
	padding-right:15px;
}

.fixstory p {
	color: #555;
	font-size: 15px;
	margin:15px;
}


/****************  FONT STYLES  ********************/

body {
	font-family: Proxima nova soft, Helvetica, sans-serif;
}

h1 {
	font-family: Proxima nova soft, Helvetica, sans-serif;
	color: black;
	text-align: center;
	font-size: 50px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #64688F;
	margin-top: 30px;
}

h4 {
	color: #888888;
}

p {
	color: #555;
	font-size: 15px;
}

a {
	text-decoration: none;
}

header {
	margin-top: 70px;
}



/**************** HOME PAGE *****************/

.hero {
    background-image:url('../images/homepage_hero.jpg');
    background-size: cover;
    background-color: #EEEEEE;
    height:75%;
  
  }

.hero h2 {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.30);
	margin-top: 30px;
}

.hero-logo {
	text-align: center;	
	padding-top: 50px;
	-webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3));
}

.hero-container {
	margin: auto;
	margin-top: 0px;
	text-align: center;
	padding-bottom: 30px;
}

.glyphicon-chevron-down {
	color: #D9DBED;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	font-size: 25px;
}

.home-why {
	margin-right: 30px;
	margin-left: 30px;
	margin-top: -20px;
}

.purple-bg {
	background-color: #D9DBED;
}

.home-about {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 50px;
	max-width: 900px;
}

.home-subheader {
	text-align: center;
	font-size: 30px;
	color: #64688F;
}

.home-point {
	text-align: center;
	margin-top: 5px;
	font-size: 18px;
}

.home-icon {
	width: 100px;
	display: block;
	margin: auto;
}

.home-quote p {
	text-align: center;
	margin-top: 5px;
}

@media (max-width: 600px) {
	/* smaller icons on smaller screens*/
	.home-icon {
		width: 120px;
		-webkit-transition: width 2s; /* Safari */
    	transition: width 2s;
	}
}

.home-about p {
	text-align: center;
}


/***************   NAVIGATION BAR ****************/

.nav {
	margin-top: 20px;
}

.navbar {
	height: 75px;
}

.navbar-default {
	background-color: #D9DBED;
	border: none;
}

.nav a {
	color: #64688F;
}

.nav li:last-child {
	margin-right: 20px;
}

#logo {
	width: 200px;
	padding: 10px;
	margin-top: 5px;
}



/***********  CLOSET ITEMS  ***************/

#discarded:after {
  content: '';
  display: block;
  clear: both;
}

.item-box {
	float: left;
	border: solid 2px #fff;
    padding: 0;

}

.item_label {
	opacity: 0.5;
	font-weight: bold;
	font-size: 13px;
	color: #555;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.tank_tops {
	background-color: #FAF1E1;
    text-align: center;
}
.short_sleeves_top {
	background-color: #FBDFCB;
    text-align: center;
}
.long_sleeves_top {
	background-color: #FADDDD;
    text-align: center;
}
.dresses {
	background-color: #EEE5F3;
    text-align: center;
}
.skirts {
	background-color: #E3EFF9 ;
    text-align: center;
}
.shorts {
	background-color: #D7F0F8 ;
	text-align: center;
 }
 .pants {
	background-color: #C5F1EC;
    text-align: center;
}

.item-box img {
    width: 100%;
    height: 250px;
    border: none;
    -o-object-fit: cover;
    object-fit: cover;
}

img.displayed {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none
}



/**********  BUTTONS ***********/

button, .btn  {
	background-color: #D9DBED;
	border-radius: 5px;
	padding: 5px; 
	box-shadow: none;
	border: none;
	margin-left: 5px;
}

.btn {
	color: #64688F;
	padding-left: 10px;
	padding-right: 10px;
}

.btn:hover {
	background-color: #64688F;
	color: white;
	font-weight: bold;
} 

button:hover {
	background-color: #64688F;
	color: white;
	font-weight: bold;
}

.btn-hero {
	font-size: 22px;
	padding: 10px 20px 9px 20px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.30);
	margin-top: 20px;
	margin-bottom: 20px;
}



/************** INFO & FILTER BOXES ******************/

#info-box {
	padding: 0 20px 20px 20px;
	text-align: center;
}

#filter-box {
	background-color: #EEE9E1;
	padding: 0 20px 20px 20px;
	text-align: center;
}

#filter-box input {
	margin-right: 5px;
	margin-left: 15px;
}

.is-checked {
	background-color: #64688F;
	color: white;
	font-weight: bold;
}

.button-group button {
	margin-right: 2px;
	margin-left: 2px;
	width: 130px;
}

#type-group label {
	font-weight: 300;
	font-size: 16px;
}

#colour-group label {
	font-weight: 300;
	font-size: 16px;	
}

#favourite-group label {
	font-weight: 300;
	font-size: 16px;	
}

#colour-group, #favourite-group {
	display: inline;
}

.button-group button.is-checked.button_asc:after {
	content: url(/images/arrow_up.png);
}

.button-group button.is-checked.button_desc:after {
	content: url(/images/arrow_down.png);
}

.edit-button-container {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

.edit-button-container-2 {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.edit-button-2 .glyphicon{
	padding-bottom: 7px;
}

.glyphicon {
	margin-top: 4px;
	padding-right: 5px;
	padding-left: 5px;
}



/***************  FORM  ****************/

.form-container {
	background-color: #eee;
	padding: 20px;
	margin-bottom: 30px;
}



/*********** UNUSED CAROUSEL ***********/
.unused-container {
	margin: auto;
}

.unused-h1 {
	margin-top: 10px;
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
}

.unused-h1 h1 {
	text-align: center;
	font-size: 40px;
	text-transform: none;
	letter-spacing: 1px;
	color: white; 
	text-shadow: 1px 1px 2px rgba(0,0,0,0.30);
}

.carousel-caption {
	top: 80px;
	z-index: 99;
}

.btn-discard {
	margin-top: 300px;
	font-size: 30px;
	padding-left: 20px;
    padding-right: 20px;
}

/************** MEMORY PHOTO ***************/
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 250;
  border:none;
}

.carousel-control {
	bottom:14px;
}
